.header {
    max-width: 880px;
    margin: 45px auto 40px;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
}

@media screen and (max-width: 900px) {
    .header {
        margin-top: 28px;
        margin-bottom: 42px;
        padding-bottom: 32px;
    }
}